<div id="comments">
    <p><%= link_to 'add a comment', '#new_comment' %></p>
    <% unless resource.comments.empty? %><ul><%= render resource.comments %></ul><% end %>
    <p><%= form_for [resource, resource.comments.new] do |f| %>
      <%= render :partial => 'governor/comments/form', :locals => {:f => f} %>
    <% end %></p>
</div>